{% extends "base.html" %}

{% load static %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<h1>Привет, я Саша!</h1>
<br>
<p>
  Безумно рад что Ты заглянул! Да, вот так просто, давай сразу на ты, ведь я уверен, мы с тобой подружимся!)
  <br>
  Мне 30 лет и я изучаю Python <img src="https://emojio.ru/images/apple-b/1f40d.png" width="30" height="40" alt="snake">
  <sub>
      (  Не бойся, он не укусит, можешь даже курсором провести по нему))  )
  </sub>
  <br>
  <div class="row">
    <div class="col-sm-6">
        <!-- Пытался расшарить фото через какой нибудь хостинг или через ссылку яндекс диска, чет не получилось, сделал так-->
        <img src="{% static 'img/pic/pic1.jpg' %}" width="300" height="400" alt="чай_1">
        <img src="{% static 'img/pic/pic2.jpg' %}" width="300" height="400" alt="чай_2">
    </div>
    <div class="col-sm-6">
        Немогу не поделиться с тобой, думаю самый важный факт обо мне:<br>
        Я ну очень люблю чай <br>
        Еще я катаюсь на сноуборде, люблю велопрогулки <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
        Справа тоже моё фото, честно, честно)))<br>
        Так я чаще всего выгляжу, когда не могу понять сложные темы.. <br> 
        Но если даже после очевидных подсказок ты не понял, <br>
        Делай перерыв - это лучше, чем выглядеть вот так --->
        <br>    
        <br>
        Резюме у меня пока еще нету для сферы IT, ведь мой прошлый опыт нерелевантен ¯\_(ツ)_/¯<br>
        Но! Я могу показать тебе ссылку на мой <a href="https://github.com/Otryy">GitHub</a>. Там скоро будет куча крутых проектов, которые ты конечно же сможешь глянуть!
    </div>
    <div class="col-sm-6">
        <img src="https://4tololo.ru/sites/default/files/images/20141309161643.jpg?itok=C9px2h-K" width="480" height="480" alt="котик">
    </div>
  </div>
</p>
{% endblock %}

